<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon.png" />
    <link rel="icon" type="image/png" href="/img/favicon.png" />
    <title>Empower</title>
    <!--     Fonts and icons     -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"
      rel="stylesheet"
    />
    <link
      href="https://use.fontawesome.com/releases/v5.0.6/css/all.css"
      rel="stylesheet"
    />
    <!-- Nucleo Icons -->
    <link href="/css/nucleo-icons.css" rel="stylesheet" />
    <link href="/css/nucleo-svg.css" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <link href="/css/font-awesome.css" rel="stylesheet" />
    <link href="/css/nucleo-svg.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link href="/css/argon.min.css" rel="stylesheet" />
  </head>

  <body class="login-page">
    <!-- Navbar -->
    <%- include("../shared/sidebar.ejs") -%>
    <!-- End Navbar -->
    <!-- Main content -->
    <div class="main-content" id="panel">
      <!-- Topnav -->
      <%- include("../shared/topnav.ejs") -%>
      <!-- Header -->
      <!-- Header -->
      <div class="header bg-primary pb-6">
        <div class="container-fluid">
          <div class="header-body">
            <div class="row align-items-center py-4">
              <div class="col-lg-6 col-7">
                <h6 class="h2 text-white d-inline-block mb-0">Find Recipes</h6>
                <nav
                  aria-label="breadcrumb"
                  class="d-none d-md-inline-block ml-md-4"
                >
                  <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                    <li class="breadcrumb-item">
                      <a href="/"><i class="fas fa-home"></i></a>
                    </li>
                    <li class="breadcrumb-item"><a href="#">Recipes</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                      Find
                    </li>
                  </ol>
                </nav>
              </div>
              <!-- <div class="col-lg-6 col-5 text-right">
                <a href="#" class="btn btn-sm btn-neutral">New</a>
                <a href="#" class="btn btn-sm btn-neutral">Filters</a>
              </div> -->
            </div>
          </div>
        </div>
      </div>
      <!-- Page content -->

      <div class="container-fluid mt--6">
        <div class="row">
          <div class="col-xl">
            <form
              action="/recipes/find"
              method="post"
            >
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Ingredients (comma seperated)</span>
                  </div>
                  <input
                    class="form-control"
                    aria-label="eventName"
                    name="query"
                    required
                  ></input>
                </div>
              </div>

              <br>

              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Number of options</span>
                  </div>
                  <input
                    type= number
                    class="form-control"
                    aria-label="eventName"
                    name="number"
                    required
                  ></input>
                </div>
              </div>

              <button type="submit" class="btn btn-outline-primary btn-lg">
                Find Recipes
              </button>
              <button type="reset" class="btn btn-outline-warning btn-lg">
                Discard
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!--   Core JS Files   -->
    <%- include("../shared/scripts") -%>
  </body>
</html>
